.card-img-top {
  width: 100%; /* Full width within the card */
  height: 200px; /* Fixed height for the square image */
  object-fit: contain; /* Ensures the entire image is visible within the square */
  background-color: #f0f0f0; /* Light grey background in case of missing image */
  border-radius: 0%; /* Keeps the image square */
  overflow: hidden; /* Ensures that the content is clipped to the square shape */
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons i {
  font-size: 1.2rem;
}

.card {
  min-height: 450px; /* Ensures uniform card height */
  text-align: center; /* Center-aligns content for a balanced look */
  padding: 15px; /* Adds padding for a cleaner layout */
}
